/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f5f5f5; /* Fundo claro para contraste */
}

header {
    background-color: #b22222; /* Cor de fundo vermelha */
    color: white;
    padding: 10px;
    text-align: center; /* Centraliza o texto no header */
}

header h1, header h2 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #d32f2f; /* Cor vermelha mais escura para o menu */
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: #b71c1c; /* Cor vermelha ainda mais escura para hover */
    border-radius: 5px;
}

main {
    padding: 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item {
    flex: 1 1 calc(33.333% - 10px);
    box-sizing: border-box;
    border: 2px solid #b22222; /* Borda vermelha para os itens */
    border-radius: 8px; /* Borda arredondada para um visual mais moderno */
    background-color: white; /* Fundo branco para contraste com a borda vermelha */
}

.item img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #b22222; /* Borda inferior vermelha para as imagens */
}

.informacoes {
    margin-top: 20px;
    border: 2px solid #b22222; /* Borda vermelha para a seção de informações */
    border-radius: 8px; /* Borda arredondada */
    padding: 10px;
    background-color: white; /* Fundo branco para a seção de informações */
}

.informacoes img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #b22222; /* Cor de fundo vermelha para o footer */
    color: white;
    text-align: center;
    padding: 10px;
}

/* Lightbox */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

.lightbox img, .lightbox video {
    max-width: 90%;
    max-height: 90%;
}

.lightbox-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: white;
    text-decoration: none;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .item {
        flex: 1 1 calc(50% - 10px);
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 5px 0;
    }
}

@media (max-width: 480px) {
    .item {
        flex: 1 1 100%;
    }

    header {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 5px 0;
    }
}
